.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}
.card {
    flex: 1 1 250px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card p {
    flex-grow: 1;
}
.card button {
    align-self: flex-start;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #e0e0e0;
}