.container {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: baseline;
    
}
body {
    font-family: Ariel, sans-serif;
}

.container {
    border: 2px solid #333;
    padding: 10px;
}

.item {
    background-color: lightblue;
    border: 1px solid #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}